@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply font-sans antialiased bg-background text-foreground;
    }
}

/* Organization Chart Lines */
.p-organizationchart .p-organizationchart-line-down {
    background: #333333;
    width: 1.5px;
}

.p-organizationchart .p-organizationchart-line-left,
.p-organizationchart .p-organizationchart-line-right,
.p-organizationchart .p-organizationchart-line-top {
    border-color: #333333;
    border-width: 1.5px;
}